@tailwind base;
@tailwind components;
@tailwind utilities;

.banner-carousel .carousel-status {
  display: none;
}

.banner-carousel div.carousel.carousel-slider .slide {
  max-width: 220px;
  min-width: 220px !important;
  margin-right: 16px;
}

.banner-carousel .carousel.carousel-slider {
  overflow: unset !important;
}

@media screen and (min-width: 760px) {
.banner-carousel div.carousel.carousel-slider .slide {
    max-width: 242px;
    min-width: 242px !important;
  }
}

@media screen and (min-width: 1024px) {
  .banner-carousel  div.carousel.carousel-slider .slide:nth-child(3) {
    max-width:  600px !important;
    min-width: 600px !important;
    margin-right: 150px;
  }
  
  .banner-carousel  div.carousel.carousel-slider .slide:nth-child(3) .img-container {
    max-width: 360px !important;
    min-width: 360px !important;
    height: 360px;
    border-radius: 10px;
  }
  
  .banner-carousel  div.carousel.carousel-slider .slide:nth-child(3) .img-container img {
    border-radius: 10px;
  } 
  
  .banner-carousel  div.carousel.carousel-slider .slide:nth-child(3) div {
    /* max-width:  600px !important; */
    /* min-width: 600px !important; */
    display: flex;
    flex-direction: row !important;
    align-items: center;
  }
  
  .banner-carousel  div.carousel.carousel-slider .slide:nth-child(3) .desc-container {
    background-color: #363636;
    margin-left: -26px;
    border-radius: 0 10px 10px 0px;
    max-width: 400px !important;
    min-width: 400px !important;
    padding: 16px;
    flex-direction: column !important;
  }
  
  .banner-carousel  div.carousel.carousel-slider .slide:nth-child(3) .desc-container .title-container {
    flex-direction: column !important;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
  }
  
  .banner-carousel  div.carousel.carousel-slider .slide:nth-child(3) .desc-container .author-container {
    gap: 8px;
    justify-content: start !important;
    margin-left: -170px;
    opacity: 0.5;
  }
  
  .banner-carousel  div.carousel.carousel-slider .slide:nth-child(3) .desc-container p {
    color: white !important;
  }
  
  .banner-carousel  div.carousel.carousel-slider .slide:nth-child(3) .desc-container span {
    color: white !important;
  }
}


.track-carousel .carousel-status {
  display: none;
}

.track-carousel div.carousel.carousel-slider .slide {
  max-width: 238px;
  min-width: 238px !important;
  margin-right: 20px;
}

.track-carousel .carousel.carousel-slider {
  overflow: unset !important;
}

.track-carousel .carousel .slider.animated {
  padding-bottom: 16px;
}

.left-carousel .carousel-status {
  display: none;
}

.left-carousel div.carousel.carousel-slider .slide {
  max-width: 220px;
  min-width: 220px !important;
  margin-right: 16px;
}

.left-carousel .carousel.carousel-slider {
  overflow: unset !important;
}

@media screen and (min-width: 760px) {
.left-carousel div.carousel.carousel-slider .slide {
    max-width: 242px;
    min-width: 242px !important;
  }
}

.shimmer {
  background: #e8ebed;
  background-image: linear-gradient(
    to right,
    #e8ebed 0%,
    #e8ebed 20%,
    #f6f7f8 40%,
    #f6f7f8 100%
  );
  background-repeat: no-repeat;
  background-size: 800px 800px;
  display: inline-block;
  position: relative;

  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeholderShimmer;
  animation-timing-function: linear;
}

@keyframes placeholderShimmer {
  0% {
    background-position: -468px 0;
  }

  100% {
    background-position: 468px 0;
  }
}

ol, ul, menu {
  list-style: disc;
  margin: 16px 0px;
  padding: 0 0 0 40px;
}